.home {
  flex-direction: row-reverse;
}

.avatar {
  width: 50%;
  padding: 40px;
}

.avatar-image {
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.image-box {
  position: relative;
}

.image-box::before {
  content: "";
  width: 350px;
  height: 350px;
  background-color: var(--secondry-color);
  position: absolute;
  top: 30px;
  left: -20px;
  border-radius: 10px;
  transform: rotate(45deg);
  z-index: -1;
  transition: all .3s ease;
}

.image-box:hover::before {
  transform: rotate(130deg);
}

.myName {
  background-color: yellow;
  width: 50%;
}
