.contact {
  padding: 50px 16px;
  gap: 25px;
  flex-direction: column;
}

.contact-title {
  color: var(--secondry-color);
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  padding-left: 45px;
}

.contact-title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: 0;
  background-color: var(--secondry-color);
  border-radius: 30% 70% 71% 29% / 30% 38% 62% 70%;
}

.contact-wrapper {
  gap: 16px;
}

.contact-field-wrapper {
  width: 50%;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.contact-info-wrapper {
  width: 50%;
  gap: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 880px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-info-wrapper,
  .contact-field-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .contact-info-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
