.button-style {
  width: 160px;
  height: 40px;
  background-color: var(--secondry-color);
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.button-style:hover {
  opacity: 0.8;
}
