.err-wrapper {
  align-items: center;
  margin: 0 auto;
  width: 80%;
  gap: 5px;
  margin-top: 3px;
}

.err-text {
  font-size: 0.9rem;
  color: #ff3333;
}

.err-icon {
  color: #ff3333;
  font-size: 1.2rem;
}
