@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

:root {
  --primary-color: #0a1929;
  --secondry-color: deepskyblue;
}

body {
  width: 100%;
  background-color: var(--primary-color);
}

/* scrool bar style */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondry-color);
  border-radius: 50px;
  width: 5px;
}

.h-full {
  width: 100%;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.p-x {
  padding: 0 16px;
}
